<html>
<body>

<script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<!-- set the patch according to your system! -->
<script src="../js/fubalytics.js"></script>
<script src="../js/fubalytics_init.js"></script>




<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />


<h1>Connect</h1>

<div class="well">
	<p>Your description of the service goes here!</p>
	<p>I accept the terms and conditions <a href="TODO">AGBs</a> 
	<!-- NOTE: Please do not change the name and the ID of the input field! -->
	<form><input id="agb_check" type="checkbox" name="fubalytics_agb_check" value=""/> </form>
	<a href="#" class="btn btn-success" onclick="start_connection();">Start Connection</a> </p>
</div>


<!-- setup the jQuery Dialog -->
<div id="dialog" title="Basic dialog" style="display:none" >
	<h1>Specify Your Team</h1>
	<!-- NOTE: Please do not change the IDs of the input fields -->
	<input type="hidden" id="selected_team_rank" value="" />
	<input type="hidden" id="selected_team_type" value="" />
  <div id="team_ranks">
  </div>
  <div id="team_types">
  </div>
</div>


<!-- end of the html part -->




<script type="text/javascript">

/**
EDIT_HERE: apply here your custom exception handling routine!
if this is called, that means, that the process cannot operate further and 
it has been cancelld 
**/
function handle_exception(e){
	console.error(e);
	//alert(e);

}

/**
EDIT_HERE: This is the template for the selection buttons of the team rank
**/
var tmpl_team_ranks='<h3>Team Rank</h3> <div id="rank_selector" class="btn-group" data-toggle="buttons-radio"> \
	{{#.}} \
		<button type="button" rank_id={{id}} class="btn btn-success">{{name}}</button> \
	 {{/.}}</ul> \
	</div>';


/**
EDIT_HERE: This is the template for the selection buttons of the team type
**/
var tmpl_team_types='<h3>Team Type</h3> <div id="type_selector" class="btn-group" data-toggle="buttons-radio"> \
	{{#.}}  \
		<button type="button" type_id={{id}} class="btn btn-success" id="{{id}}">{{name}}</button> \
	 {{/.}}</ul> \
	</div>';



	
/**
EDIT_HERE:
Fill this function according to your needs.
it must return a list of players.
Something similar to:
var players=[{firstname:"Mario", lastname:"Gomez", birthdate:null, arb_token:"{e2c_player_id:23}"}, 
{firstname:"Lukas", lastname:"Podolski", birthdate:123456789, arb_token:"{e2c_player_id:24}"}]};

-------------
== WARNING!
-------------
Please make sure, that you submit the arbitrary token!
If you dont, no error will occur. But you will not be able to map
your players in the fubalytics system ever again!
**/
function get_all_players(){
	var players=[{firstname:"Mario", lastname:"Gomez", birthdate:null, arb_token:"{e2c_id:23}", nr:1, position_id:1, gender:"m", from_date: "1396616179", icon_url:null}, 
		{firstname:"Lukas", lastname:"Podolski", birthdate:123456789, arb_token:"{e2c_id:24}", nr:2, position_id:1, gender:"m", from_date: "1396616179", icon_url:null} ];
	return players;
}


/**
EDIT_HERE:
Set this data according to your application!
**/
//set this from your database!
var uid=Math.round(Math.random(4)*1e4);
var internal_user_data={
	id:1, 
	email:"holger_connected"+uid+"@gmx.de", 
	firstname:"holger", 
	lastname:"Wittke", 
	language:"de",
	arb_token:"{e2c_id:"+uid+"}", //this is the arb token of the user with uid as the ID of the user in YOUR system
	club_name:"FC Hadoken 2013"
};





function start_connection(){

	//check if the checkbox about GPA was checked
	console.log("Checkbox is: ");
	console.log($('input[name=fubalytics_agb_check]').is(':checked'));
	if ($('input[name=fubalytics_agb_check]').is(':checked')!=true){
		handle_exception("error.GPA_unchecked");
		return;
	}

	//----------
	//get the internal club_id insite the fubalytics system
	//----------
	try {
		var club_id=fubalytics.get_or_create_club(internal_user_data.club_name);
		console.log("Received fubalytics club id: "+club_id);
	}catch(e){
		handle_exception(e);
		return;
	}



	//	get the available team ranks and render them using Mustache
	//--------------
	var team_ranks=fubalytics.get_team_ranks();
	console.log(team_ranks);
	//define the template for the team ranks buttons. You can use your own!
	
	var rendered_team_ranks = Mustache.to_html( tmpl_team_ranks, team_ranks )
	$("#team_ranks").html(rendered_team_ranks);
	
	//define the callback for the radio buttons clicks
	$("#rank_selector .btn").click(function() {
	    // whenever a button is clicked, set the hidden helper
	    var val=$(this).attr("rank_id");
	    console.log("team_rank "+val+" clicked");
	    $("#selected_team_rank").val(val);
	});

	//--------------
	//	get the available team types  and render them using Mustache
	//--------------
	var team_types=fubalytics.get_team_types();
	//define the template for the team type buttons. You can use your own!
	var rendered_team_types = Mustache.to_html( tmpl_team_types, team_types )
	$("#team_types").html(rendered_team_types);
	//add a list of players
	//define the callback for the radio buttons clicks
	$("#type_selector .btn").click(function() {
	    // whenever a button is clicked, set the hidden helper
	    var val=$(this).attr("type_id");
	    console.log("team_type "+val+" clicked");
	    $("#selected_team_type").val(val);
	});

	//-----------
	// show the ready rendered dialog
	//-------------
	$("#dialog").dialog({width:800, modal:true,
		buttons: [ { text: "Continue", click: function() { //the method which is initiating the whole process
				//send the selection results to fubalytics for finalize the connectino process.
				//check if the input is OK
				if ($("#selected_team_rank").val()==""){
					handle_exception("error.no_team_rank");
					return;
				}
				if ($("#selected_team_type").val()==""){
					handle_exception("error.no_team_type");
					return;
				}

				/**
				1. create the user in the fubalytics system
				2. define a list of all the players of this user
				3. submit the list of all the users, using the team_rank and team_types selected by the user.
				**/
				//-------------
				// 	creating the user in fubalytics
				//-------------
				try {
					var new_user.user_id=fubalytics.setup_new_user({
						club_id: club_id,
						email: internal_user_data.email,
						arb_token: internal_user_data.arb_token,
						firstname: internal_user_data.firstname,
						lastname: internal_user_data.lastname,
						language: internal_user_data.language});
					console.log("User created: "+new_user);
					// submit all the players
					var players_batch_input={
						team_type_id:$("#selected_team_type").val(), 
						team_rank_id:$("#selected_team_rank").val(), 
						club_id:club_id, 
						fubalytics_user_id:new_user.user_id, 
						players:get_all_players()};
					fubalytics.create_players(players_batch_input);

					console.log("The user and the players have been created successfully! The arb token of the user is: "+internal_user_data.arb_token);
					console.warn("Store this in test_init.js as variable e2c_id: "+internal_user_data.arb_token);


					// --------------------
					//	testing the virtual user mechanism
					//---------------------
					//md5 for "123456"
					//e10adc3949ba59abbe56e057f20f883e
					virt_user_id=fubalytics.create_virtual_user({email:"virtual_email_"+new_user.user_id+"@mail.com", password_hashed:"e10adc3949ba59abbe56e057f20f883e", user_id:new_user.user_id})
					console.log("Created virtual user with ID"+virt_user_id);

				}catch(e){
					handle_exception(e);
					return;
				}
				//----------------------
				// 	define a list of player, which need to be submitted to fubalytics
				//-----------------------
				/**
				The format must be
				var players={players:[{firstname:"Mario", lastname:"Gomez", birthdate:null}, 
									  {firstname:"Lukas", lastname:"Podolski", birthdate:123456789}]}
				The birtday is a string of unix time stamp.
				*/


			}}, 
			{text:"Cancel", click:function(){
				//----- test the player submission
				$(this).dialog("close");
			}}],
			title:"Enter Team Properties"
	});
	
};

</script>

</body>
</html>
