<html>
<body>

<script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<!-- set the patch according to your system! -->
<script src="../js/fubalytics.js"></script>
<script src="../js/qunit.js"></script>



<link rel="stylesheet" href="../css/qunit.css">

<h1>Tests</h1>

<div id="qunit"></div>
<div id="qunit-fixture"></div>

<iframe allowfullscreen=true webkitallowfullscreen=true mozallowfullscreen=true src="http://fubalytics.net:80/public_shares/iframe?p=Y1VWNldHcEVNa1F2WXpWdU56aGlZblpUZEZSVmJVWndkUzlNU0d4UmVVcFha_RUkyYUZoTmRFdE9RM1p6ZVRkUWJHSlRXbk14VHpGWGVtTXhhaXRqVUMwdEwx_bEhWU3R1T0V4S05EaGxURzFhVjA5Q05XeDNVVDA5LS01ODY4ZjYyZmY0NjFl_NzBmZTZjMjFmYjQ1OTRkNDYzMTE3NTlhNmQ5_&width=690&height=490" height="490" width="690" scrolling="no" frameborder=0></iframe>

<div id="iframe_container" style="width:100%;height:900px">

</body>
</html>
