<html>
<body>

<script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<!-- set the patch according to your system! -->
<script src="../js/fubalytics.js"></script>




<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />


<h1>Tests</h1>


<script type="text/javascript">

/**
EDIT_HERE: apply here your custom exception handling routine!
if this is called, that means, that the process cannot operate further and 
it has been cancelld 
**/
function handle_exception(e){
	
	alert(e);

}



	
/**
EDIT_HERE:
Fill this function according to your needs.
it must return a list of players.
Something similar to:
var players=[{firstname:"Mario", lastname:"Gomez", birthdate:null, arb_token:"{e2c_player_id:23}"}, 
{firstname:"Lukas", lastname:"Podolski", birthdate:123456789, arb_token:"{e2c_player_id:24}"}]};
-------------
== WARNING!
-------------
Please make sure, that you submit the arbitrary token!
If you dont, no error will occur. But you will not be able to map
your players in the fubalytics system ever again!
**/
function get_all_players_for_test(){
	var players=[{firstname:"Mario", lastname:"Gomez", birthdate:null, arb_token:"{e2c_id:23}"}, 
		{firstname:"Lukas", lastname:"Podolski", birthdate:123456789, arb_token:"{e2c_id:24}"}];
	return players;
}

fubalytics.auth_token="J7xRf6QyYeMd6w7Vhm2x"; //this might change frequently. Please check your settings
fubalytics.fubalytics_url="http://pre12.fubalytics.local:3000"; //use here only a testing server please!!!!!!
var internal_user_data={
	id:1, 
	email:"holger"+Math.round(Math.random(4)*1e4)+"@gmx.de", 
	firstname:"holger", 
	lastname:"Wittke", 
	language:"de",
	club_name:"FC Hadoken 2013"
};

//----------
//get the internal club_id insite the fubalytics system
//----------
try {
	var club_id=fubalytics.get_or_create_club(internal_user_data.club_name);
	console.log("Received fubalytics club id: "+club_id);
}catch(e){
	handle_exception(e);
	return;
}



//-------------
//	get the available team ranks and render them using Mustache
//--------------
var team_ranks=fubalytics.get_team_ranks();
console.log("#TEAM RANKS#");
console.log(team_ranks);

//--------------
//	get the available team types  and render them using Mustache
//--------------
var team_types=fubalytics.get_team_types();
console.log("#TEAM TYPES#");
console.log(team_types);


//-------------
// 	creating the user in fubalytics
//-------------
try {
	var new_user_id=fubalytics.setup_new_user({
		club_id: club_id,
		internal_user_id: internal_user_data.id, //the user ID of THIS user
		email: internal_user_data.email,
		firstname: internal_user_data.firstname,
		lastname: internal_user_data.lastname,
		language: internal_user_data.language});
	console.log("User created: "+new_user_id);
	// submit all the players
	//define the input first
	var players_batch_input={
		team_type_id:team_types[0].team_type.id, 
		team_rank_id:team_ranks[0].team_rank.id, 
		club_id:club_id, 
		fubalytics_user_id:new_user_id, 
		players:get_all_players_for_test()};
	//call the api method
	fubalytics.create_players(players_batch_input);
}catch(e){
	handle_exception(e);
	return;
}

//------------------
//getting the object for the player stored here (in e2c) with the ID 23
//------------------
var player=fubalytics.find_player_by_arb_token("{e2c_id:23}")[0].player;
console.log("player found: ");
console.log(player);

console.log("updating player");
fubalytics.update_player({id:player.id, gender:"w", firstname:"updated_firstname", lastname:"updated_lastname"});


//check if the update was successful
console.log("checking player update");
player=fubalytics.find_player_by_arb_token("{e2c_id:23}")[0];

if (player.player.firstname!="updated_firstname"){
	console.error("The player update was not successful!")
}

//-------destroy the player
fubalytics.delete_player(player.player.id);
//check if deleting was successful
players=fubalytics.find_player_by_arb_token("{e2c_id:23}");
console.log("found players:");
console.log(players);
if (players.length>0){
	console.error("The player deletion was not successful!")
}


</script>

</body>
</html>
