<html>
<body>

<script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<!-- set the path according to your system!, add a random number to avoid browser caching if you are using php or similar script language -->
<script src="../js/fubalytics.js?sf"></script>




<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />


<h1>Tests</h1>
<div id="message_box"></div>

<script type="text/javascript">

/**
EDIT_HERE: apply here your custom exception handling routine!
if this is called, that means, that the process cannot operate further and 
it has been cancelld 
**/
function handle_exception(e){
	
	console.error(e);

}



	
/**
EDIT_HERE:
Fill this function according to your needs.
it must return a list of players.
Something similar to:
var players=[{firstname:"Mario", lastname:"Gomez", birthdate:null, arb_token:"{e2c_player_id:23}"}, 
{firstname:"Lukas", lastname:"Podolski", birthdate:123456789, arb_token:"{e2c_player_id:24}"}]};
-------------
== WARNING!
-------------
Please make sure, that you submit the arbitrary token!
If you dont, no error will occur. But you will not be able to map
your players in the fubalytics system ever again!
**/
function get_all_players_for_test(){
	var players=[{firstname:"Mario", lastname:"Gomez", birthdate:null, arb_token:"{e2c_id:23}", nr:1, position_id:1, gender:"m"}, 
		{firstname:"Lukas", lastname:"Podolski", birthdate:123456789, arb_token:"{e2c_id:24}", nr:1, position_id:1, gender:"m"}];
	return players;
}

//fubalytics.auth_token="JunHbEJhUgjFjqiiaauC"; //this might change frequently. Please check your settings
//fubalytics.fubalytics_url="http://demo.fubalytics.net:3000"; //use here only a testing server please!!!!!!

//------------
// Get these data from your fubalytics account. 
// Goto to "Profile" and copy your token here. If no token appears (unter the payments button)
// then contact fubalytics
//------------


/*SEE fubalyitcs.js for default access parameters. you may overwrite them here!
fubalytics.auth_token="sZSbDwt21FsNv8TwvddN";
fubalytics.fubalytics_url="http://demo.fubalytics.local:3000";
*/

//--------------
// set the parameters of the new user
//--------------
var internal_user_data={
	id:Math.round(Math.random(4)*1e4), //the ID in your system
	email:"holger"+Math.round(Math.random(4)*1e4)+"@gmx.de", 
	firstname:"holger", 
	lastname:"Wottke", 
	language:"de",
	club_name:"FC Hadoken 2013"
};
console.log("Creating a random user:");
console.log(internal_user_data);

//----------
//get the internal club_id of a club from the fubalytics system
//----------
try {
	var club_id=fubalytics.get_or_create_club(internal_user_data.club_name);
	console.log("The club "+internal_user_data.club_name+" has the id %i in fubalytics", club_id);
}catch(e){
	console.error("Getting the club failed");
	handle_exception(e);
	throw "break since no club could be obtained";
}



//-------------
//	get the available team ranks (e.g. 1., 2., ...)
//--------------
var team_ranks=fubalytics.get_team_ranks();
console.log("#TEAM RANKS#: %o", team_ranks);

//--------------
//	get the available team types (U13, 16, U20, ...)
//--------------
var team_types=fubalytics.get_team_types();
console.log("#TEAM TYPES#: %o", team_types);


//-------------
// 	creating a user in fubalytics
//-------------
try {
	var new_user_id=fubalytics.setup_new_user({
		club_id: club_id,
		internal_user_id: internal_user_data.id, //the user ID of THIS user in e2c system
		arb_token:"{e2c_id:"+internal_user_data.id+"}",
		email: internal_user_data.email,
		firstname: internal_user_data.firstname,
		lastname: internal_user_data.lastname,
		language: internal_user_data.language});
	console.log("User created: "+new_user_id);
	//---------------
	// submit all the players returned by the method "get_all_players_for_test"
	//--------------
	var players_batch_input={
		team_type_id:team_types[0].id, 
		team_rank_id:team_ranks[0].id, 
		club_id:club_id, 
		fubalytics_user_id:new_user_id, 
		players:get_all_players_for_test()};
	//call the api method
	fubalytics.create_players(players_batch_input);
}catch(e){
	//handle the exception
	handle_exception(e);
	throw "Breaking, since creating users or players failed";
}


//------------------
//getting the player stored here (in e2c) with the ID 23, which are in the account of the
// just created user
//------------------
var players=fubalytics.find_players_by_arb_token({
	arb_token:"{e2c_id:23}",
	user_id: new_user_id});
if (players.length>0)
{
	var player=players[0];
	console.log("player found: %o", player);


	//-----------------
	//	update the player data
	//-----------------
	console.log("updating player");
	fubalytics.update_player({id:player.id, 
		gender:"w", 
		firstname:"updated_firstname", 
		lastname:"updated_lastname",
		as_user_id:new_user_id});
	//check if the update was successful
	console.log("checking player update");
	player=fubalytics.find_players_by_arb_token({arb_token:"{e2c_id:23}", user_id:new_user_id})[0];
	if (player.firstname!="updated_firstname"){
		console.error("The player update was not successful!");
		console.log(player);
	}
	//-----------
	//  destroy the player
	//-----------
	fubalytics.delete_player({user_id:new_user_id, id:player.id});
	//check if deleting was successful
	players=fubalytics.find_players_by_arb_token({arb_token:"{e2c_id:23}", user_id:new_user_id});
	console.log("found players:");
	console.log(players);
	if (players.length>0){
		console.error("The player deletion was not successful!");
	}
}//if players found end

//----------------
//	testing the recording update
//----------------
var recordings=fubalytics.find_recordings_by_arb_token("e2c_id:11")
if (recordings.length==0)
{
	console.log("Could not find any recording with e2c_id:11");
} 
else 
{

	console.log("found recording: %o", recordings);
	inp={id:recordings[0].recording.id, 
		event: {
			team:{
				team_rank:{id:1}, 
				team_type:{id:1},
				club: {id:1}
			},
			opponent_team:{
				team_rank:{id:1}, 
				team_type:{id:1},
				club:{id:1}
			},
			score_team1:0,
			score_team2:1,
			event_type:{id:1},
		},
		title:"test",
		description:"test description",
		start_time:"11.12.2011 10:20"
	};

	var new_rec=fubalytics.update_recording(inp);
	if (!new_rec){
		console.error("Could not update the recording");
	}
	console.log("After updating the recording: %o", new_rec);
}

//-----------------
//	creating and deleting a new recording
//-----------------

inp2={event: {
		team:{
			team_rank:{id:1}, 
			team_type:{id:1},
			club: {id:1}
		},
		opponent_team:{
			team_rank:{id:1}, 
			team_type:{id:1},
			club:{id:1}
		},
		score_team1:0,
		score_team2:1,
		event_type:{id:1},
	},
	title:"test2",
	description:"test description",
	start_time:"11.12.2011 10:20",
	arb_token:"{e2c_id:12}"
};

new_rec=fubalytics.create_recording(inp2);
console.log("create a new recording: %o", new_rec);

//now delete it
fubalytics.delete_recording({id:new_rec.id});
$("#message_box").html("<h2>Looks like the tests run successfull. Please see the console for red error messages to be sure</h2>");

</script>


</body>
</html>
