<html>
<body>

<script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<!-- set the patch according to your system! -->
<script src="../js/fubalytics.js"></script>




<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />


<h1>Uploader</h1>
<div class="well" id="uploader_container">
</div>


<!-- end of the html part -->




<script type="text/javascript">

/**
EDIT_HERE: apply here your custom exception handling routine!
if this is called, that means, that the process cannot operate further and 
it has been cancelld 
**/
function handle_exception(e){
	
	alert(e);

}
//SEE fubalyitcs.js for default access parameters. you may overwrite them here!


///** remote apitest testing
//fubalytics.auth_token="qwwYWBm4WJ5tzRpnTCqx";
//fubalytics.fubalytics_url="http://apitest.fubalytics.net:3000";


//local testing
fubalytics.auth_token="46bzFo2itCaGRvqsgh2S";
fubalytics.fubalytics_url="http://demo.fubalytics.local:3000";



/**
EDIT_HERE:
Set this data according to your application!
**/
//set this from your database!
var uid=1227; //this is the ID of your user in YOUR system. copy it from the console output fo connect.html

$(document).ready(function() {
	var event_types=fubalytics.get_event_types();
	console.log(event_types);
	//render the uploader
	fubalytics.create_iframe_new_video({
        target_node:$("#uploader_container"),
        user_arb_token:"{e2c_id:"+uid+"}", //the user ID in YOUR system
        club1_name: "VFL Wolfsburg",
        club2_name: "Union",
        game_time: "1318781876", //16.10.2011 - 18:17:56
        event_type_id: event_types[0].id,
        arb_token:JSON.stringify({gamedate_id:3422})
    });
});

</script>

</body>
</html>
